@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Alef", sans-serif;
}


.titular{
    display: flex;
    text-align: center;
    justify-content: center;
}
.titular h1{
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
}


.rack{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shelf{
    display: flex;
    justify-content: center;
}

h2 .shelf{
    font-style: normal;
    font-weight: 400;
}

#lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
}

#lista li{
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0;
}

.lista_link{
    text-decoration: unset;
    color: inherit;
}
